<% layout("/layouts/bolierplate") %>
<body>
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
        }

        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.8;
        }

        .filter:hover{
            opacity: 1;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <div>Because Every Memory deserves to be remembered!</div>
        </div>
        
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
    <% for(let listing of allListings){ %>
       <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: black;">
        <div class="card col" >
        <img src="<%= listing.image.url %>" class="card-img-top" alt="..." style="height: 20rem;">
        <div class="card-img-overlay">By: <%= listing.owner.username %></div>
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b> <br>
                <%= listing.date.toLocaleDateString("en-IN") %>
            </p>
        </div>
        </div>
       </a> 
        
    <% } %>
    </div>
</body>



